<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="SelectedPhotoAccess" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:name=".database.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LearningApp"
        tools:targetApi="31">
        <activity
            android:name=".sampleApi.ApiActivity"
            android:exported="false" />
        <activity
            android:name=".googleOAuth.GoogleDriveActivity"
            android:exported="false" />
        <activity
            android:name=".googleOAuth.GoogleOAuth"
            android:exported="false" />
        <activity
            android:name=".AdMob.AdmobActivity"
            android:exported="false" />
        <activity
            android:name=".collapseToolbar.CollapseToolbar"
            android:exported="false" />
        <activity
            android:name=".foregroundServices.ForegroundServices"
            android:exported="false" />
        <activity
            android:name=".workManager.WorkManagerActivity"
            android:exported="false" />
        <activity
            android:name=".sideAndBottomNavigationBar.SideAndBottomNavigationActivity"
            android:exported="false" />
        <activity
            android:name=".shimmerEffect.ThirdActivity"
            android:exported="false" />
        <activity
            android:name=".shimmerEffect.SecondActivity"
            android:exported="false" />
        <activity
            android:name=".shimmerEffect.MainShimmerEffectActivity"
            android:exported="false" />
        <activity
            android:name=".pdfCreation.PdfCreation"
            android:exported="false" />
        <activity
            android:name=".coroutines.CoroutinesActivity"
            android:exported="false" />
        <activity
            android:name=".permissionHandling.PermissionActivity"
            android:exported="false" />
        <activity
            android:name=".roomDb.activity.RoomDbActivity"
            android:exported="false" />
        <activity
            android:name=".retrofit.activity.RandomUserActivity"
            android:exported="false" />
        <activity
            android:name=".liveData.view.MainView"
            android:exported="false" />
        <activity
            android:name=".mvvm.view.ViewActivity"
            android:exported="false" />
        <activity
            android:name=".viewpager.activity.MainScreen"
            android:exported="false" />
        <activity
            android:name=".viewpager.activity.ViewPagerActivity"
            android:exported="false" />
        <activity
            android:name=".broadcast_reciever.BroadcastReceiverActivity"
            android:exported="false" />
        <activity
            android:name=".database.SharedPref"
            android:exported="false" />
        <activity
            android:name=".fragmentLifeCycle.activity.FragmentLifeCycle"
            android:exported="false" />
        <activity
            android:name=".activityLifeCycle.ActivityB"
            android:exported="false" />
        <activity
            android:name=".activityLifeCycle.ActivityA"
            android:exported="false" />
        <activity
            android:name=".activityLifeCycle.ActivityLifeCycle"
            android:exported="false" />
        <activity
            android:name=".recyclerView.activity.RecyclerViewActivity"
            android:exported="false" />
        <activity
            android:name=".lottieAnimations.LottieAnimation"
            android:exported="true" />
        <activity
            android:name=".firebase.FirebaseMainActivity"
            android:exported="true" />
        <activity
            android:name=".balloonLibrary.BalloonActivity"
            android:exported="true" />
        <activity
            android:name=".faceDetection.CameraFaceDetection"
            android:exported="true" />
        <activity
            android:name=".firebase.SignInWithPhoneNumber"
            android:exported="true" />
        <activity
            android:name=".firebase.LogInWithPhoneNumber"
            android:exported="true" />
        <activity
            android:name=".firebase.OtpActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".nfcTag.NFCTag"
            android:exported="true">

            <!--
                 Specifies the activity that will handle NFC tags.
                 The 'exported' attribute is set to true to allow this activity
                 to be launched by components from other apps.
            -->

            <intent-filter>

                <!-- Declares that this activity can respond to NFC tech discovered intents. -->
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
                <!-- The action filters for NFC tech discovered events. -->

                <category android:name="android.intent.category.DEFAULT" />
                <!-- Specifies that this intent filter applies to the default category of intents. -->
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
            <!--
                 Associates this activity with a specific set of NFC technologies
                 defined in the 'nfc_tech_filter' XML file, which lists the NFC technologies
                 that the app is interested in handling.
            -->
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8852713064890240~3757659756" />

        <service
            android:name=".foregroundServices.ForegroundServiceUtil"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="specialUse" />

        <activity
            android:name="net.openid.appauth.RedirectUriReceiverActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth2redirect"
                    android:scheme="com.example.learningapp" />
            </intent-filter>
        </activity>
    </application>

</manifest>